
.paragraph {
        height: 700px;
        width: 700px;
        margin: auto;
        list-style: none;
        padding: 5px;
        font-family: fantasy;
        font-size: 1rem;
        background-color: rgb(229, 228, 226);
        float: right;
        justify-content: right;
        align-items: center;
        max-width: 100%;
        display: flex;
        }

.nav-link.active {
        display: inline-block;
}

.navbar {
        margin: auto;
        transform: translateY(-50px); 
        -webkit-transform: tanslateY(-50px); 
        width: 100%;
        background-color: rgb(229, 228, 226);
        z-index: 999;
       
    }

.body {
        background-color: rgb(229, 228, 226);
    }
    

    
.nav-pills .nav-link.active {
        background-color: lightgrey;
        color: rgb(101, 115, 131);
  
    }

.nav-pills a {
    color:black;

    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: -50px;
    margin-bottom: auto;
    display: inline-block;
    height: 50px;
    }

.form {
        height: 400px;
        width: 500px;
        margin: auto;
        list-style: none;
        padding: 10px;
        font-family: fantasy;
        font-size: larger;
        background-color: rgb(229, 228, 226);
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        position: relative;
        text-align: center;
        border-radius: 10px;
}


.header {
    font-size: 35pt;
    background-color: lightgrey;
    height: 88px;
    font-family: fantasy;
    color: rgb(229, 228, 226);

}

#enterMessage {
    font-size: small;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;
 
    
}
.carousel {
    height: 500px;
    width: 500px;
    float: left;
    padding: 10px;
    transform: translate(0,-25px);
    -webkit-transform: translate(0px,-25px);
    position: relative;
    max-width: 100%;
    z-index: 10;
            
}

.pic {
    height: 600px;
    width: 600px;
    float: right;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    max-width: 100%;
    
}

.heading {
    
        z-index: 999;
        font-size: 4rem;
        font-family: fantasy;
        font-weight: bold; 

         
}

.heading-background {
    background-image: url(../images/Devin3.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: 35%;
    background-position: 90% 60%;
    background-repeat: no-repeat;    
}

@media screen and (min-width: 768px) {
        .heading {
            font-size: 4rem;
            text-align: center;
        }

        .paragraph {
            font-size: 1rem;
        }
}

@media screen and (min-width: 0px) {
        .heading {
            font-size: 2rem;
        }
}

@media screen and (min-width: 360px) {
        .heading {
            font-size: 3rem;
        }

}

@media screen and (min-width: 850px) {
        .heading {
            font-size: 4rem;
        }
        .paragraph {
            font-size: 1rem;
        }
}

@media screen and (min-width: 1000px) {
        .heading {
            font-size: 5rem;
            transform: translate(0, -75px);
            -webkit-transform: translate(0, -75px);
        }
        .paragraph {
            font-size: 1.2rem;
        }


    }
@media screen and (min-width: 1300px) {
    .heading {
        font-size: 5rem;
        transform: translate(0, -75px);
        -webkit-transform: translate(0, -75px);
    }
    .paragraph {
        font-size: 1.5rem;
        transform: translate(0, -75px);
        -webkit-transform: translate(0, -75px);
    }

}