@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

p,
li {
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

h5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list {
    list-style: none;
}


.nav-link.active {
    display: inline-block;
}


.body {
    background-color: rgb(229, 228, 226);
}



.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);

}

.nav-pills a {
    color: black;


}

.btn-secondary {
    font-family: 'Work Sans', sans-serif;
    color: black;
    border: none;
    background-color: rgb(229, 228, 226);
    font-size: 20pt;
}

.dropdown-item.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
    display: inline-block;
    height: 50px;
}

.form {
    height: 500px;
    width: 500px;
    margin: auto;
    list-style: none;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    background-color: rgb(229, 228, 226);
    position: relative;
    text-align: center;
    border-radius: 10px;
}


.header {
    font-size: 35pt;
    background-color: lightgrey;
    height: 88px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(229, 228, 226);

}

#enterMessage {
    font-size: small;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    position: relative;


}

.carousel {
    height: 500px;
    width: 500px;
    padding: 10px;
    position: relative;
    max-width: 100%;
    z-index: 10;

}

.pic {
    height: 600px;
    width: 600px;
    float: right;
    max-width: 100%;

}

.heading {

    z-index: 999;
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;


}

.heading-background {
    background-image: url(../images/Devin3.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-size: 35%;
    background-position: 90% 60%;
    background-repeat: no-repeat;
}

li {
    padding: 5px;
}

.title {
    font-size: 28pt;
}

.quiz {
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .heading {
        font-size: 4rem;
        text-align: center;
    }

}

@media screen and (min-width: 0px) {
    .heading {
        font-size: 2rem;
    }
}

@media screen and (min-width: 360px) {
    .heading {
        font-size: 3rem;
    }

}

@media screen and (min-width: 850px) {
    .heading {
        font-size: 4rem;
    }

}

@media screen and (min-width: 1000px) {
    .heading {
        font-size: 5rem;
        transform: translate(0, -75px);
        -webkit-transform: translate(0, -75px);
        -moz-transform: translate(0, -75px);
        -o-transform: translate(0, -75px);
        -ms-transform: translate(0, -75px);
    }


}

@media screen and (min-width: 1300px) {
    .heading {
        font-size: 5rem;
        transform: translate(0, -75px);
        -webkit-transform: translate(0, -75px);
        -moz-transform: translate(0, -75px);
        -ms-transform: translate(0, -75px);
        -o-transform: translate(0, -75px);
    }


}