@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

p,
li {
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    z-index: 99;
}

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 17pt;
}


.nav-link.active {
    display: inline-block;
}


.body {
    background-color: rgb(229, 228, 226);

}


.figcaption {
    text-align: center;
    display: inline-grid;

}

.image {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.quiz {
    height: 300px;
    width: 300px;
}

.skills {
    display: block;
}


.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);

}

.nav-pills a {
    color: black;


}

.btn-secondary {
    font-family: 'Work Sans', sans-serif;
    color: black;
    border: none;
    background-color: rgb(229, 228, 226);
    font-size: 20pt;
}

.dropdown-item.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
    display: inline-block;
    height: 50px;
}

.form {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.header {
    font-size: 35pt;
    background-color: lightgrey;
    height: 88px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(229, 228, 226);
}

.carousel {
    height: 70vh;
    width: 70vh;
    position: relative;
    max-width: 100%;
    z-index: 10;
    margin-top: 50px;
}

.heading {
    z-index: 999;
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.heading-background {
    background-image: url(../images/Devin3.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: 50%;
    background-position: 100% 55%;
    background-repeat: no-repeat;
}

li {
    padding: 5px;
}

.title {
    font-size: 28pt;
    text-align: center;
}


.email {
    font-size:24px;
    margin-bottom: 5px;
}

.intouch {
    text-align: center;
    padding-left: 23px;
}

.container {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    
}

.container2 {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */

}

.container3 {
    margin: 100px;
    height: 1150px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    border: 2px solid black;

}

.container4 {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */

}

.container5 {
    margin-top: 200px;
    height: 500px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */

}

.aboutme {
    margin-top: 50px;
}


@media screen and (min-width: 768px) {
    .heading {
        font-size: 3rem;
        text-align: center;
    }

}

@media screen and (min-width: 0px) {
    .heading {
        font-size: 4rem;
    }
}

@media screen and (min-width: 320px) {
    .heading {
        font-size: 4rem;
        transform: translate(0, -80px);
        -webkit-transform: translate(0, -80px);
        -moz-transform: translate(0, -80px);
        -o-transform: translate(0, -80px);
        -ms-transform: translate(0, -80px);
        z-index: 1;
    }
    .heading-background {
        background-image: url(../images/Devin3.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-size: 45%;
        background-position: 90% 90%;
        background-repeat: no-repeat;
        z-index: 99;
    }

}

@media screen and (min-width: 900px) {
    .heading {
        font-size: 4rem;
        transform: translate(0, -70px);
        -webkit-transform: translate(0, -70px);
        -moz-transform: translate(0, -70px);
        -o-transform: translate(0, -70px);
        -ms-transform: translate(0, -70px);
    }

}

@media screen and (min-width: 1000px) {
    .heading {
        font-size: 4rem;
        transform: translate(0, -80px);
        -webkit-transform: translate(0, -80px);
        -moz-transform: translate(0, -80px);
        -o-transform: translate(0, -80px);
        -ms-transform: translate(0, -80px);
    }


}

@media screen and (min-width: 1300px) {
    .heading {
        font-size: 4rem;
        transform: translate(0, -60px);
        -webkit-transform: translate(0, -60px);
        -moz-transform: translate(0, -60px);
        -ms-transform: translate(0, -60px);
        -o-transform: translate(0, -60px);
    }


}

@media screen and (max-width: 768px) {
    .container {
        height: 3000px; 
        justify-content: center;
        align-items: center;
        margin-right: 300px;
        
    }

    .carousel {
        height: 100vh;
        width: 100vh;
        position: relative;
        max-width: 100%;
        z-index: 10;
        margin-top: 50px;
        margin-right: 150px;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .container2 {
        height: 2000px;
        margin-top: 300px;
        width: 100vw;

    }
    
    .container3 {
        height: 3000px;
        border: 2px solid black;
        width: 100vw;

    }
    
    .container4 {
        height: 2000px;

    }
    
    .container5 {
        height: 1000px;
        width: 100vw;

    
    }
    .list {
        list-style: none;
        text-align: center;
        font-size: 17pt;
        justify-content: center;
        align-items: center;
        margin-right: 150px;
        width: 100vw;
    }
}