@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

html {
    scroll-behavior: smooth;
}
p,
li {
    font-family: Advent Pro;
    list-style: none;
    z-index: 99;
}

h1 {
    text-align: center;
    font-family: Advent Pro;
    margin-top: 30px;
    font-size: 50pt;
    color: darkgray;
    font-weight: 900;
}

h3 {
    font-family: Advent Pro;
}

.list {
    list-style: none;
    text-align: center;
    font-size: 19pt;
    padding: 30px;
}

.margin {
    background-color: white;
    border-radius: 50px;
    height: 650px;
    width: 550px;
    margin-left: 200px;
}


.nav-link.active {
    display: inline-block;
}


.body {
    background-color: rgb(229, 228, 226);
    margin: 0;
    padding: 0;
    position: relative;
}


.figcaption {
    text-align: center;
    display: inline-grid;
    font-family: Advent Pro;
    font-size: 15pt;

}

.image {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.quiz {
    height: 300px;
    width: 300px;
}

.skills {
    display: block;
}


.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);

}

.nav-pills a {
    color: black;


}

.btn-secondary {
    font-family: Advent Pro;
    color: black;
    border: none;
    background-color: rgb(229, 228, 226);
    font-size: 20pt;
}

.dropdown-item.active {
    background-color: lightgrey;
    color: rgb(101, 115, 131);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
    display: inline-block;
    height: 50px;
}

.form {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.header {
    font-size: 35pt;
    background-color: lightgrey;
    height: 88px;
    font-family: Advent Pro;
    color: rgb(229, 228, 226);
}

.carousel {
    height: 100vh;
    width: 100vh;
    position: relative;
    max-width: 100%;
    z-index: 10;
    margin-top: 50px;
}

.heading {
    z-index: 999;
    font-size: 7rem;
    font-family: Advent Pro;
    font-weight: bold;
    transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -o-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    -webkit-transform: translateY(-120px);
}

.heading-background {
    background-image: url(../images/Devin3.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: 50%;
    background-position: 100% 55%;
    background-repeat: no-repeat;
}

li {
    padding: 5px;
}

.title {
    font-size: 28pt;
    text-align: center;
}


.email {
    font-size:24px;
    margin-bottom: 5px;
}

.intouch {
    text-align: center;
}

.container {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    
}

.container2 {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */

}

.container3 {
    margin: 100px;
    height: 1200px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    background-color: white;
    font-size: 13pt;

}

.container4 {
    margin: 100px;
    height: 700px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    font-size: 13pt;

}

.container5 {
    margin-top: 200px;
    height: 250px; /* Set the height to 100% of the viewport height */
    scroll-snap-align: start; /* Snap to the start of each section */
    background-color: white;
    border-radius: 100px;

}

.aboutme {
    margin-top: 50px;
}

.scroll-container {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
  }
  
  .scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
  }
  
  .scroll-container a {
    position: sticky;
    top: 88vh;
    cursor: pointer;
    font-size: 20px;
  }


@media screen and (max-width: 768px) {
    .container {
        height: 1300px; 
        justify-content: center;
        align-items: center;
        text-align: center;  
        margin: 0;
        padding: 0;
    }

    .carousel {
        height: 60vh;
        width: 90vw;
        position: relative;
        max-width: 100%;
        z-index: 10;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0; 
    }
    
    .container2 {
        height: 850px;
        margin-top: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0; 
        width: 100%;
    }
    
    .container3 {
        height: 1900px;
        width: 60vw;
        background-color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 50px;
    }
    
    .container4 {
        height: 1200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0; 
        width: 100%;
        margin-top: 100px;
    }
    
    .container5 {
        height: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: white;
        border-radius: 0px;
    }
    .list {
        list-style: none;
        text-align: center;
        font-size: 15pt;
        justify-content: center;
        align-items: center;
    }

    .quiz {
        height: 35vh;
        width: 35vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .heading {
        z-index: 999;
        font-size: 4rem;
        font-family: Advent Pro;
        font-weight: bold;
        
    }

    .heading-background {
        background-image: url(../images/Devin3.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background-size: 70%;
        background-position: 150% 40%;
        background-repeat: no-repeat;
        z-index: 99;
    }
    
    .margin {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}